body{
  width: 800px;
  margin: auto;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 7px 7px 7px black;
}
p{
  font-size: 20px;
  font-family: sans-serif;
  line-height: 26px;
}
ul{
  line-height: 2;
  font-size: 20px;
  text-transform: capitalize;
}
.capitalize:first-letter{
    font-weight: bold;
    font-size: 200%;
}
.cnc{
  letter-spacing: 2px;
  text-transform: capitalize;
}
.capitalize{
  text-transform: capitalize;
  font-weight: bold;
}
.end:hover :visited{
  color: blue;
}
